* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    color-scheme: dark;
}

a {
    text-decoration: none;
}

.clearfix {
    clear: both;
}

.header-banner {
    padding-top: 35px;
    padding-bottom: 100px;
    color: #ffffff;
    font-family: Helvetica, serif;
    font-weight: 100;
    background-image: url("https://grapesjs.com/img/bg-gr-v.png"), url("https://grapesjs.com/img/work-desk.jpg");
    background-attachment: scroll, scroll;
    background-position: left top, center center;
    background-repeat: repeat-y, no-repeat;
    background-size: contain, cover;
}

.container-width {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
}

.logo-container {
    float: left;
    width: 50%;
}

.menu {
    float: right;
    width: 50%;
}

.menu-item {
    float: right;
    font-size: 15px;
    color: #eee;
    width: 130px;
    padding: 10px;
    min-height: 50px;
    text-align: center;
    line-height: 30px;
    font-weight: 400;
}

.lead-title {
    margin: 150px 0 30px 0;
    font-size: 40px;
}

.sub-lead-title {
    max-width: 650px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #c6c6c6;
}

.lead-btn {
    margin-top: 15px;
    padding: 10px;
    width: 190px;
    min-height: 30px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 30px;
    background-color: #1c1c1c;
    border-radius: 5px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.lead-btn:hover{
    background-color:#ffffff;
    color:#000000;
  }

.lead-btn:active {
    background-color: #00ff84;
    color: #fff;
}

.flex-sect {
    background-color: #fafafa;
    padding: 100px 0;
    font-family: Helvetica, serif;
}

.flex-title {
    margin-bottom: 15px;
    font-size: 2em;
    text-align: center;
    font-weight: 700;
    color: #555;
    padding: 5px;
}

.flex-desc {
    margin-bottom: 55px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 5px;
}

.cards {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    background-color: white;
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transition: all 0.5s ease;
    font-weight: 100;
    overflow: hidden;
}

.card:hover {
    margin-top: -5px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
    height: 155px;
    background-image: url("https://via.placeholder.com/350x250/78c5d6/fff");
    background-size: cover;
    background-position: center center;
}

.card-header.ch2 {
    background-image: url("https://via.placeholder.com/350x250/459ba8/fff");
}

.card-header.ch3 {
    background-image: url("https://via.placeholder.com/350x250/79c267/fff");
}

.card-header.ch4 {
    background-image: url("https://via.placeholder.com/350x250/c5d647/fff");
}

.card-header.ch5 {
    background-image: url("https://via.placeholder.com/350x250/f28c33/fff");
}

.card-header.ch6 {
    background-image: url("https://via.placeholder.com/350x250/e868a2/fff");
}

.card-body {
    padding: 15px 15px 5px 15px;
    color: #555;
}

.card-title {
    font-size: 1.4em;
    margin-bottom: 5px;
}

.card-sub-title {
    color: #b3b3b3;
    font-size: 1em;
    margin-bottom: 15px;
}

.card-desc {
    font-size: 0.85rem;
    line-height: 17px;
}

.footer-under {
    background-color: #312833;
    padding-bottom: 100px;
    padding-top: 100px;
    min-height: 500px;
    color: #eee;
    position: relative;
    font-weight: 100;
    font-family: Helvetica,serif;
}

.copyright {
    background-color: rgba(0, 0, 0, 0.15);
    color: rgba(238, 238, 238, 0.5);
    bottom: 0;
    padding: 1em 0;
    position: absolute;
    width: 100%;
    font-size: 0.75em;
}

.made-with {
    float: left;
    width: 50%;
    padding: 5px 0;
}

.foot-social-btns {
    display: none;
    float: right;
    width: 50%;
    text-align: right;
    padding: 5px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}

.foot-list {
    float: left;
    width: 200px;
}

.foot-list-title {
    font-weight: 400;
    margin-bottom: 10px;
    padding: 0.5em 0;
}

.foot-list-item {
    color: rgba(238, 238, 238, 0.8);
    font-size: 0.8em;
    padding: 0.5em 0;
}

.foot-list-item:hover {
    color: rgba(238, 238, 238, 1);
}

.foot-form-cont {
    width: 300px;
    float: right;
}

#id9f {
    background-repeat: repeat-y, repeat;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
    background-size: contain, auto;
    background-image: linear-gradient(rgba(0,0,0,0.67) 0%, rgba(0,0,0,0.67) 100%), url(/assets/background.jpeg);
    padding: 35px 0px 260px 0px;
}

#ihrs6 {
    padding: 0px 0px 0px 0px;
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
    animation-delay: 0.4s; /* Adjust the delay time as per your requirements */
  }

#ivk6 {
    width: 150px;
}

#is2jgm {
    color: #ffffff;
    font-weight: 300;
}

#idp0eg {
    font-weight: 300;
    color: #ffffff;
}

#ifxxu1 {
    font-size: 1.3em;
    color: #ffffff;
}

#iry4gg {
    font-size: 1em;
    color: #b3b3b3;
}

#iyrmpi {
    font-size: 1.3em;
    color: #ffffff;
}

#ir9kvj {
    font-size: 1.3em;
    color: #ffffff;
}

#itji3l {
    font-size: 1.3em;
    color: #ffffff;
}

#i9u27c {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#000000 0%, #000000 100%);
}

.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 10px;
}

.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#it1tpo {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#121212 0%, #121212 100%);
}

#ij95m6 {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#121212 0%, #121212 100%);
    border-radius: 10px 10px 10px 10px;
}

#isw8pl {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#121212 0%, #121212 100%);
}

#iym067 {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#121212 0%, #121212 100%);
    border-radius: 10px 10px 10px 10px;
}

#iban5o {
    background-image: url(/assets/dosevalues.png);
    background-repeat: repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    border-radius: 0px 0px 0px 0px;
}

#ii5o2e {
    color: #d1d1d1;
}

#i91obm {
    color: #000000;
    background-image: url(/assets/smcwhite.png);
}

#iz06f8 {
    color: #d1d1d1;
}

#ic2zbf {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#121212 0%, #121212 100%);
}

#i20zpl {
    background-image: url(/assets/redhat.png);
    background-repeat: repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

#ijm92c {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#121212 0%, #121212 100%);
    border-radius: 10px 10px 10px 10px;
}

#ifvtzc {
    color: #d1d1d1;
}

#ie45ml {
    color: #ffffff;
}

#il1tlg {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#121212 0%, #121212 100%);
}

#imweuz {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#121212 0%, #121212 100%);
    border-radius: 10px 10px 10px 10px;
}

#icg9fh {
    background-image: url(/assets/hamradio.jpg);
}

#itgcae {
    color: #ffffff;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#000000 0%, #000000 100%);
}

#ilq7g8 {
    color: black;
    position: static;
    width: 187px;
    height: 187px;
    border-radius: 100px 100px 100px 100px;
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
    animation-delay: 0.2s; /* Adjust the delay time as per your requirements */
  }

#it95g {
    margin: 30px 0px 30px 0px;
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
    animation-delay: 0.4s; /* Adjust the delay time as per your requirements */
  }

#i2lsou {
    flex-basis: 50%;
}

#is2tl4 {
    flex-basis: 1%;
}

#isjavz {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#121212 0%, #121212 100%);
}

#i69mvf {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#121212 0%, #121212 100%);
    border-radius: 10px 10px 10px 10px;
}

#imihyh {
    color: rgb(255, 255, 255);
    font-size: 20.8px;
}

#i60puh {
    flex-basis: 21%;
}

#izgwo8 {
    flex-basis: 70%;
}

#izpfbc {
    background-image: url(/assets/web.jpeg);
    background-repeat: repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

#i29teh {
    flex-basis: 48%;
}

#iyhjqc {
    color: #ffffff;
}

#isi6kp {
    color: rgb(230, 237, 243);
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
    white-space: pre;
    background-color: rgb(13, 17, 23);
}

#i0tr9p {
    color: rgb(230, 237, 243);
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
    white-space: pre;
    background-color: rgb(13, 17, 23);
}

#iurmuh {
    border: 0px solid black;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#00ff95 0%, #00ff95 100%);
    width: 220px;
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
    animation-delay: 1s; /* Adjust the delay time as per your requirements */
  }
  

#imd08e {
    flex-basis: 34%;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@media (max-width: 768px) {
    .foot-form-cont {
        width:400px;
    }

    .gjs-row {
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    .foot-lists {
        display:none;
    }
}
